<div class="container">
  <div class="row">
    <% if admin_signed_in? %>
      <div class="col-md-8">
        <div>
          <h3 class="text-capitalize">Question numéro <%= @question.id %></h3>
          <h3 class="text"><%= @question.content %></h3>
        </div>
        <div>
          <% unless @question.answers.pluck(:admin_id).include?(current_admin.id) %>
            <h3>Répondre à la Question  </h3>
            <%= form_for @answer do | f | %>
              <%= f.hidden_field :admin_id %>
              <%= f.hidden_field :question_id %>
              <div>
                <%= f.text_area :content, cols: 100, rows: 5  %>
              </div>
              <br>
              <div>
                <%= f.submit "valider" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <div class="forms">
            <%= render 'category_form'  %>
          </div>
        </div>
        <div id="subcategories">
          <%= render partial: 'questions/subcategories', locals: {question: @question} %>
        </div>
      </div>
      <!-- <div class="forms">
        <%# render 'category_form'  %>
      </div> -->
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Reponse :</h3>
      <% @question.answers.each do | answer | %>
        <div>
          <% next if !answer.display? && !admin_signed_in? %>
          <div>
            <p><%= answer.content  %></p>
            <% if admin_signed_in? %>
              <% if answer.admin_id != current_admin.id && !answer.display?%>
                <%= link_to 'Valider la reponse', validations_path(answer_id: answer.id, admin_id: current_admin.id), method: :post %>
              <% end %>
              <em>Nombre de validation <%= answer.validations.count %> </em>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
