<div class="container">
 <div class="row" id="content_alone">
    <div class="col-sm-6  col-md-8" id="zone_alone">
      <div>
       <h4 class="question_title">Question posée</h4>
       <h3 class="text-capitalize"></h3>
       <h3 class="question.content.alone" style="color:black; font-size:18px;"><%= @questions.content %> ?</h3>
      </div>
      <!--zone qui affiche la réponse -->
      <h3>Reponse :</h3>
      <% @questions.answers.each do | answer | %>
        <div>
          <p><%= raw answer.content  %></p>
        </div>
      <% end %>
      <!-- fin -->
      <% if writer_signed_in? %>
          <div >
            <% unless @questions.answers.pluck(:writer_id).include?(current_writer.id) %>
              <%= form_for @answer do | f | %>
                <%= f.hidden_field :writer_id %>
                <%= f.hidden_field :question_id %>
                <div >
                  <%= f.cktext_area :content ,ckeditor: {toolbar: 'mini'}   %>
                </div>
                <br>
                <div>
                  <%= f.submit "valider votre réponse" , class:"btn btn-primary btn-lg" %>
                </div>
              <% end %>
            <% end %>
          </div>
      <% end %>
      <h3>Partagez sur : </h3>
      <%= social_share_button_tag(@questions.content) %>
      <div class="visible-xs">
        <a  href="whatsapp://send?text=<%= request.original_url %>"><i class="fab fa-whatsapp-square"></i></a>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="zone_hadith">
      <div class="col-lg-12 col-md_12 col-sm-12 col-xs-12" id="title_category">
        <h3 > Questions similaires</h3>
      </div>
      <div class="col-lg-12 col-md_12 col-sm-12 col-xs-12" id="list_category">
        <% @questions.similar.last(5).each do |question| %>
         <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12  zone_info">
         <h4 class="question_content"><%= link_to "#{question.content}", (admin_signed_in? ? question_path(question) : alone_path(id: question.id))%></h4>
          <% question.validate_answers.each do |answer| %>
          <% end %>
         </div>
         <% end %>
       </div>
      </div>
    </div>
  </div>
</div>
