<main class="bd-masthead" id="content" role="main">
<div class="container">
  <div class="row" id="home">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <%= flash[:success] %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="zone_hadith">
      <div class="col-lg-12 col-md_12 col-sm-12 col-xs-12" id="title_category">
        <h3 >Hadith du jour</h3>
      </div>
      <div class="col-lg-12 col-md_12 col-sm-12 col-xs-12" id="list_category">
        <% @hadiths.each  do |hadith|  %>
        <h4><%= hadith.hadith %></h4>
        <% end %>
      </div>
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="zone_hadith">
      <div class="col-lg-12 col-md_12 col-sm-12 col-xs-12" id="list_category">
      <% @nisabs.each do |nisab| %>
      <div class="col-lg-12 col-md_12 col-sm-12 col-xs-12" id="title_category">
        <h3 class="title_show"> <%= nisab.title %></h3>
      </div>
         <h2 class="title_show"> <%= nisab.mois %> €</h2>
         <h2 class="title_show"> <%= nisab.price_or %> €</h2>
         <h2 class="title_show"> <%= nisab.price_silver %> €</h2>
         <h2 class="title_show"> <%= nisab.zakat_fatimi %> €</h2>
         <h2 class="title_show"> <%= nisab.zakat_fidiyah %> €</h2>
         <h2 class="title_show"> <%= nisab.nisab_zakat %> €</h2>
      <% end %>
    </div>
  </div>
  </div>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="info">
    <p>
      Le Centre a pour objectif d’apporter des réponses simples et concises
       à vos interrogations sur l’Islam en général et sur le droit musulman en particulier.
      Vous y trouverez des avis juridiques mais aussi des conseils pratiques
      et des orientations éthiques en rapport avec l’ensemble des aspects
       de la vie du croyant et de la croyante, que ce soit dans sa relation
        avec Son Créateur que dans son rapport avec ceux et celles qui l’entourent.
    </p>
  </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
        <h3 >Dernières questions posées</h3>
      <hr>
    </div>
      <% Question.with_validates_answers.last(5).each do |question| %>
        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12  zone_info">
          <h4 class="question_content"><%= link_to "#{question.content}", (admin_signed_in? ? question_path(question) : alone_path(id: question.id))%></h4>
          <% question.validate_answers.each do |answer| %>
          <h4 class="answer_content"><%= answer.content[0..140]%>...<%= link_to "voir plus",  alone_path(id: question.id) %></h4>
          <% end %>
          <span class="timestamp">
            Répondu il y a  <%= time_ago_in_words(question.created_at) %>
          </span>
        </div>
        <!-- <hr class="entre"> -->
      <% end %>
    <!-- </div> -->
  </div>

    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="zone_hadith">
          <div class="col-lg-12 col-md_12 col-sm-12 col-xs-12" id="title_category">
            <h3 > Catégories</h3>
          </div>
            <div class="col-lg-12 col-md_12 col-sm-12 col-xs-12" id="list_category">
            <% Category.all.each do |category| %>
             <li class="link-category"><%= link_to category.name,category_path(category: category.name) %></li>
          <% end%>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
<!--<div class="container">
 <div class="container" id="show">
  <div class="row">
    <div class="col-md-8 col-md-8">
      <% @Informations.each do |information| %>
        <h4> <%= information.content %></h4>
      <% end %>
    </div>
  </div>
 </div>
</div>-->
