<div class="container">
    <div class="row">
      <div class="text-center">
        <h3 class="title_reunion">
          <% if @questions.blank? %>
            <h3 >Désolé il n'y pas ce mot "<%= params[:search] %>"</br> </h3>
            <% else %>
              <h3 class="title_reunion">
                Voici toutes les questions(<%= @questions.with_validates_answers.count %>)  et réponses avec le mots recherché :"<%= params[:search] %>"
              </h3>
              <div class="col-lg-offset-2  col-md-offset-2 col-sm-offset-2 col-lg-8 col-md-8 col-sm-8 col-xs-12" id="zone_info">
                <% @questions.with_validates_answers.each do |question| %>
                    <h4 class="question_content"><%= link_to "#{question.content}",  alone_path(question)%></h4>
                  <% question.validate_answers.each do |answer| %>
                    <p class="answer_content"><%= raw answer.content[0..140] %></p>
                  <% end %>
                <% end %>
              </div>
          <% end %>

      </div>
    </div>

</div>
