<nav class="navbar navbar-default" role="navigation">
    	  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>

            <%= link_to (image_tag("/logo_ifta.png.jpg", class:"navbar-brand navbar-brand-centered")),root_path %>

		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="navbar-brand-centered">
		      <ul class="nav navbar-nav">
		        <li><%= link_to 'Accueil', root_path %></li>
		        <li><%= link_to 'Qui sommes-nous ?', apropos_path%></li>
		        <li><%= link_to 'Faq ?', faq_path%></li>
		      </ul>

		      <ul class="nav navbar-nav navbar-right">
		      	<% if admin_signed_in? %>
			      	<li> <%= button_to "Déconnexion", destroy_admin_session_path, class: "btn btn-danger navbar-btn btn-lg", :method => :delete  %>  </li>
			        <li> <%= button_to "Zone admin", rails_admin_path, class: "btn btn-default navbar-btn btn-lg", :method => :get  %></li>
		        <% end %>
		        <li> <%= button_to "Poser une question ?", new_question_path, class: "btn btn-primary navbar-btn btn-lg", :method => :get  %></li>
		      </ul>

		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
